.fullScreen {
  background-color: aliceblue;
}

.home_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appbar__container {
  display: none;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitles_other {
  font-weight: bolder;
  letter-spacing: -2px;
}
/* .carrousel_home{
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 250px;
  align-content: stretch;
  gap: 20px;
} */
.progress{
  display: flex;
  align-self: center;  
  height: 20px;
  width: 60%;
  margin-bottom: 0px;
  background: grey;
}


.imagen {
  width: 280px;
  height: 280px;
  border: solid 2px #ff69b4;
  border-radius: 50%;
  background-image: url('yo.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.background {
  position: absolute;
  z-index: -1000;
  background: transparent;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #d3d3d3;
}
.background__motion{
  display: flex;
  flex-direction: column;
}
circle {
  stroke-width: 250px;
  stroke-linecap: round;
  fill: none;
}

.circleGreen{
  stroke: #83E874 !important;
}

.circleBlue{
  stroke: #69A5FF !important;
}

.data_home{
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.name_home {
  font-weight: bolder;
  margin-bottom: 0px;
  padding-bottom: 0px;
  letter-spacing: -2px;
  position: relative;
}
.name_home::after {
  content: "";
  position: absolute;

  background-color: #ff69b4;

  bottom: 78px;
  left: 0;
  width: 300px;
  height: 2px;
  opacity: 0;

  transition: opacity 300ms, transform 300ms;
}

.name_home::after{
  opacity: 1;
  transform: translateY(80px);
}

/* Efecto en burbuja */
.an{
  animation-name: flo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  bottom: 80px;
  left:20px;

}
@keyframes flo{
  25%{
    transform: translateX(-60px);
  }
  50%{
    transform: translateY(60px);
  }
}
/* Fin efecto en burbuja */

.title_home {
  font-weight: lighter;
  margin-top: 0px;
  padding-left: 5px;
  padding-top: 0px;
  color: #000;
}

.subtitle_home {
  font-weight: 600;  
  margin-top: 0px;
  padding-left: 5px;
  padding-top: 0px;
  color: #000;
}

p {
    font-weight: 300;
    word-spacing: 0.001em;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


@media (max-width: 766px) {
  .name {    
      margin-top: 50px;
  }
  .data_home {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .certificates_home {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
  }
  
  .home_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
  }

  .contanier {
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 300px;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidebar main main main"
        "footer footer footer footer";
  }

  .rowdown_home {
      position: unset !important;
  }

}

@media (max-width: 591px) {
  .contanier {
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100% 1px;
    grid-template-areas:
        "sidebar main"
        "footer footer";
  }
  .item-b {
    height: calc(100vh - 41px);
  }
  .data_home {
    align-items: center;
  }
}


@media (max-width: 425px) {
  .item-c {
    display: none;
  }
  .item-c > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contanier {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 10px;
    grid-template-areas:
        "main"
        "footer";
  }
  .home_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
  }

  .appbar__container {
    display:unset;
  }
  .top_container {
    display: none;
  }

  circle {
    stroke-width: 850px;
  }
}


