.skills_container{height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrousel_home {
    display: flex;
    align-items: flex-start;
    svg{
        font-size: 50px;
        color: hotpink;
    }
}

.name_projects {
    display: flex;
    align-items: baseline;
    p{
        font-style: italic;
    }
  }

.info_skills {
    padding: 25px;
    font-style: normal;
}