.skills_container{height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    margin-bottom: 50px;
}

.carrousel_home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    svg{
        font-size: 50px;
        color: hotpink;
    }
}

.name_projects {
    display: flex;
    align-items: baseline;
    p{
        font-style: italic;
    }
  }

.info_skills {
    padding: 25px;
    font-style: normal;
}

@media (max-width: 591px) {
    .skills_container {
        padding-top: 30px;
        height: 100%;        
    }
}

