.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    width: 50% !important;
    height: -webkit-fill-available;
}

// .css-6hp17o-MuiList-root-MuiMenu-list {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     height: 100%;
//     justify-content: space-evenly;
// }