.certificates_container {
    .css-1hnhw8j-MuiButtonBase-root-MuiButton-root{
        margin-left: 15px;
        margin-right: 15px;
    }
}

a {
    font-style: normal;
    color: hotpink;
    text-decoration:none;
}