.progress{
    display: flex;
    align-self: center;  
    height: 20px;
    width: 60%;
    margin-bottom: 0px;
  
    div {
      background-color: #FDEB39;
    }
}
 
.card__tecno {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  svg{
    padding: 2px;
    border: 1px solid rgb(182, 182, 182);
    box-shadow: 2px 2px rgb(182, 182, 182);
    border-radius: 5px;
  }
}

.motionButton {
  border: none;
  background: none;
}